.circle {
	border-radius: 50%;
}
.br-8 {
	border-radius: 8px;
}
.br-12 {
	border-radius: 12px;
}
.br-16 {
	border-radius: 16px;
}
.br-100 {
	border-radius: 100px;
}
.br-120 {
	border-radius: 120px;
}

:where(html) {
	--border-width: 1px;
	--border-color: #000;
	--border-style: solid;
}
.border {
	border-width: var(--border-width);
	border-style: var(--border-style);
	border-color: var(--border-color);
}

.border-left {
	border-left: var(--border-width) var(--border-style) var(--border-color);
}
.border-right {
	border-right: var(--border-width) var(--border-style) var(--border-color);
}
.border-top {
	border-top: var(--border-width) var(--border-style) var(--border-color);
}
.border-bottom {
	border-bottom: var(--border-width) var(--border-style) var(--border-color);
}
.border-x {
	border-left: var(--border-width) var(--border-style) var(--border-color);
	border-right: var(--border-width) var(--border-style) var(--border-color);
}
.border-y {
	border-top: var(--border-width) var(--border-style) var(--border-color);
	border-bottom: var(--border-width) var(--border-style) var(--border-color);
}
