:root {
	--color-black: #090909;
  --color-white: #ffffff;

  --color-brand-mint: hsl(177, 66%, 56%);
  --color-brand-deep-blue: hsl(240, 37%, 24%);
  --color-brand-hot-pink: #fbd6e2;
  --color-brand-canary: hsl(49, 83%, 60%);

  --color-courses-green: #a0f1d8;
  --color-courses-purple: #f1c7ff;
  --color-courses-mint: #b5f0ed;

  --color-gray-100: #f6f8fd;
  --color-gray-200: #f1f4ff;
  --color-gray-300: #e7ebfb;
  --color-gray-400: #dadff2;
  --color-gray-500: #bbc2dc;
  --color-gray-600: #9299be;
  --color-gray-700: #545a77;
  --color-gray-800: #45495a;
  --color-gray-900: #161616;
  --color-gray: #e7ebfb;

  --color-state-hover: #7d8cff;
  --color-state-pressed: #5b6ae8;
	--color-state-motion: linear-gradient(90deg, #F1F4FF 0%, #E7EBFB 100%);

  --color-info: #5487f5;
  --color-info-light: #e5edfe;
  --color-success: #00c48c;
  --color-success-light: #d9f6ee;
  --color-alert: #f1b422;
	--color-alert-light: #FFF8E7;
  --color-warning: #ffa26b;
	--color-warning-light: #FFF1E9;
  --color-error: #ff647c;
  --color-error-light: #ffe8eb;
  --color-error-semi-light: #efdddf;
}


/* brand */
.mint {
	color: var(--color-brand-mint);
}
.deep-blue {
	color: var(--color-brand-deep-blue);
}
.hot-pink {
	color: var(--color-brand-pink);
}
.canary {
	color: var(--color-brand-canary);
}
.bg-mint {
	color: var(--color-brand-mint);
}
.bg-deep-blue {
	color: var(--color-brand-deep-blue);
}
.bg-hot-pink {
	color: var(--color-brand-pink);
}
.bg-canary {
	color: var(--color-brand-canary);
}

/* courses  */
.courses-green	{
	background-color: var(--color-courses-green);
}
.courses-purple	{
	background-color: var(--color-courses-purple);
}
.courses-mint	{
	background-color: var(--color-courses-mint);
}

/* alerts */
.info {
	color: var(--color-info);
}
.info-light {
	color: var(--color-info-light);
}
.success {
	color: var(--color-success);
}
.success-light {
	color: var(--color-success-light);
}
.alert {
	color: var(--color-alert);
}
.warning {
	color: var(--color-warning);
}
.error {
	color: var(--color-error);
}
.error-light {
	color: var(--color-error-light);
}
.error-semi-light {
	color: var(--color-error-semi-light);
}
.info {
	background-color: var(--color-info);
}
.info-light {
	background-color: var(--color-info-light);
}
.success {
	background-color: var(--color-success);
}
.success-light {
	background-color: var(--color-success-light);
}
.alert {
	background-color: var(--color-alert);
}
.warning {
	background-color: var(--color-warning);
}
.error {
	background-color: var(--color-error);
}
.error-light {
	background-color: var(--color-error-light);
}
.error-semi-light {
	background-color: var(--color-error-semi-light);
}


/* state */
.state-hover:hover	{
	color: var(--color-state-hover);
}
.state-pressed:active {
	color: var(--color-state-pressed);
}
.state-motion	{
	background-image: var(--color-state-motion);
}

/* grays */
.gray-100 {
	color: var(--color-gray-100);
}
.gray-200 {
	color: var(--color-gray-200);
}
.gray-300 {
	color: var(--color-gray-300);
}
.gray-400 {
	color: var(--color-gray-400);
}
.gray-500 {
	color: var(--color-gray-500);
}
.gray-600 {
	color: var(--color-gray-600);
}
.gray-700 {
	color: var(--color-gray-700);
}
.gray-800 {
	color: var(--color-gray-800);
}
.gray-900 {
	color: var(--color-gray-900);
}
.gray {
	color: var(--color-gray);
}
.bg-gray-100 {
	background-color: var(--color-gray-100);
}
.bg-gray-200 {
	background-color: var(--color-gray-200);
}
.bg-gray-300 {
	background-color: var(--color-gray-300);
}
.bg-gray-400 {
	background-color: var(--color-gray-400);
}
.bg-gray-500 {
	background-color: var(--color-gray-500);
}
.bg-gray-600 {
	background-color: var(--color-gray-600);
}
.bg-gray-700 {
	background-color: var(--color-gray-700);
}
.bg-gray-800 {
	background-color: var(--color-gray-800);
}
.bg-gray-900 {
	background-color: var(--color-gray-900);
}
.bg-gray {
	background-color: var(--color-gray);
}
