:root {
	--control-font-size:var(--label);
	--control-bg: var(--color-gray-200);
	--control-color: var(--color-gray-600);
	--control-padding-y: 0.5rem;
	--control-padding-x: 2rem;
	--control-border-radius: 0.25rem;
}

.control-light,
.control-dark{
	font-size: var(--control-font-size);
	padding: var(--control-padding-y) var(--control-padding-x);
	border-radius: var(--control-border-radius);
}
.control-light{
	--control-color: var(--color-gray-600);
	--control-bg: var(--color-gray-200);
}
.control-dark {
	--control-color: var(--color-white);
	--control-bg: var(--color-gray-900);
}
.control-active{
	--control-color: var(--color-white);
	--control-bg: var(--color-brand-mint);
}
.control-rounded {
	border-radius: var(--control-border-radius);
}
.control-rounded-l {
	border-radius: var(--control-border-radius)  0 0 var(--control-border-radius);
}
.control-rounded-r {
	border-radius: 0 var(--control-border-radius) var(--control-border-radius) 0;
}
