:where(html) {
	--base-fs: 16;
	--base-space:4;
	--space: 0;
	--em-px: 16;
	--em-base: 16;
	--rem-px: 16;
	--rem-base: 16;

	--space-1: calc( (var(--base-space) * 1) / var(--base-fs) );
	--space-2: calc( (var(--base-space) * 2) / var(--base-fs) );
	--space-3: calc( (var(--base-space) * 3) / var(--base-fs) );
	--space-4: calc( (var(--base-space) * 4) / var(--base-fs) );
	--space-5: calc( (var(--base-space) * 5) / var(--base-fs) );
	--space-6: calc( (var(--base-space) * 6) / var(--base-fs) );
	--space-7: calc( (var(--base-space) * 7) / var(--base-fs) );
	--space-8: calc( (var(--base-space) * 8) / var(--base-fs) );
	--space-9: calc( (var(--base-space) * 9) / var(--base-fs) );
	--space-10: calc( (var(--base-space) * 10) / var(--base-fs) );
	--space-11: calc( (var(--base-space) * 11) / var(--base-fs) );
	--space-12: calc( (var(--base-space) * 12) / var(--base-fs) );
	--space-13: calc( (var(--base-space) * 13) / var(--base-fs) );
	--space-14: calc( (var(--base-space) * 14) / var(--base-fs) );
	--space-15: calc( (var(--base-space) * 15) / var(--base-fs) );
	--space-16: calc( (var(--base-space) * 16) / var(--base-fs) );

	--em: calc( var(--em-px) / var(--em-base) * 1em);
	--rem: calc( var(--rem-px) / var(--rem-base) * 1rem);

}

.gap {
	--gap-x: 1rem;
	--gap-y: 1rem;
	gap: var(--gap-x) var(--gap-y);
}
.gap-1 {
 gap: var(--space-1);
}
.gap-2 {
 gap: var(--space-2);
}
.gap-3 {
 gap: var(--space-3);
}
.gap-4 {
 gap: var(--space-4);
}
.gap-5 {
 gap: var(--space-5);
}
.gap-6 {
 gap: var(--space-6);
}
.gap-7 {
 gap: var(--space-7);
}
.gap-8 {
 gap: var(--space-8);
}
.gap-9 {
 gap: var(--space-9);
}
.gap-10 {
 gap: var(--space-10);
}
.gap-x-1 {
 gap: 0 var(--space-1)
}
.gap-x-2 {
 gap: 0 var(--space-2)
}
.gap-x-3 {
 gap: 0 var(--space-3)
}
.gap-x-4 {
 gap: 0 var(--space-4)
}
.gap-x-5 {
 gap: 0 var(--space-5)
}
.gap-x-6 {
 gap: 0 var(--space-6)
}
.gap-x-7 {
 gap: 0 var(--space-7)
}
.gap-x-8 {
 gap: 0 var(--space-8)
}
.gap-x-9 {
 gap: 0 var(--space-9)
}
.gap-x-10 {
 gap: 0 var(--space-10)
}
.gap-y-1 {
 gap: var(--space-1) 0;
}
.gap-y-2 {
 gap: var(--space-2) 0;
}
.gap-y-3 {
 gap: var(--space-3) 0;
}
.gap-y-4 {
 gap: var(--space-4) 0;
}
.gap-y-5 {
 gap: var(--space-5) 0;
}
.gap-y-6 {
 gap: var(--space-6) 0;
}
.gap-y-7 {
 gap: var(--space-7) 0;
}
.gap-y-8 {
 gap: var(--space-8) 0;
}
.gap-y-9 {
 gap: var(--space-9) 0;
}
.gap-y-10 {
 gap: var(--space-10) 0;
}

/* margin  */
.m-auto,
.sm-m-auto {
	margin: auto;
}
.mx-0,
.sm-mx-0 {
	margin-left: 0;
	margin-right: 0;
}
.mx-1,
.sm-mx-1 {
	margin-left: var(--space-1);
	margin-right: var(--space-1);
}
.mx-2,
.sm-mx-2 {
	margin-left: var(--space-2);
	margin-right: var(--space-2);
}
.mx-3,
.sm-mx-3 {
	margin-left: var(--space-3);
	margin-right: var(--space-3);
}
.mx-4,
.sm-mx-4 {
	margin-left: var(--space-4);
	margin-right: var(--space-4);
}
.mx-5,
.sm-mx-5 {
	margin-left: var(--space-5);
	margin-right: var(--space-5);
}
.mx-6,
.sm-mx-6 {
	margin-left: var(--space-6);
	margin-right: var(--space-6);
}
.mx-7,
.sm-mx-7 {
	margin-left: var(--space-7);
	margin-right: var(--space-7);
}
.mx-8,
.sm-mx-8 {
	margin-left: var(--space-8);
	margin-right: var(--space-8);
}
.mx-9,
.sm-mx-9 {
	margin-left: var(--space-9);
	margin-right: var(--space-9);
}
.mx-10,
.sm-mx-10 {
	margin-left: var(--space-10);
	margin-right: var(--space-10);
}
.mx-auto,
.sm-mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.my-0,
.sm-my-0 {
	margin-top: 0;
	margin-bottom: 0;
}
.my-1,
.sm-my-1 {
	margin-top: var(--space-1);
	margin-bottom: var(--space-1);
}
.my-2,
.sm-my-2 {
	margin-top: var(--space-2);
	margin-bottom: var(--space-2);
}
.my-3,
.sm-my-3 {
	margin-top: var(--space-3);
	margin-bottom: var(--space-3);
}
.my-4,
.sm-my-4 {
	margin-top: var(--space-4);
	margin-bottom: var(--space-4);
}
.my-5,
.sm-my-5 {
	margin-top: var(--space-5);
	margin-bottom: var(--space-5);
}
.my-6,
.sm-my-6 {
	margin-top: var(--space-6);
	margin-bottom: var(--space-6);
}
.my-7,
.sm-my-7 {
	margin-top: var(--space-7);
	margin-bottom: var(--space-7);
}
.my-8,
.sm-my-8 {
	margin-top: var(--space-8);
	margin-bottom: var(--space-8);
}
.my-9,
.sm-my-9 {
	margin-top: var(--space-9);
	margin-bottom: var(--space-9);
}
.my-10,
.sm-my-10 {
	margin-top: var(--space-10);
	margin-bottom: var(--space-10);
}
.my-auto,
.sm-my-auto {
	margin-top: auto;
	margin-bottom: auto;
}

.mx-em,
.sm-mx-em {
	margin-left: var(--em);
	margin-right: var(--em);
}
.my-em,
.sm-my-em {
	margin-top: var(--em);
	margin-bottom: var(--em);
}
.mt-em,
.sm-mt-em {
	margin-top: var(--em);
}
.mr-em,
.sm-mr-em {
	margin-right: var(--em);
}
.ml-em,
.sm-ml-em {
	margin-left: var(--em);
}
.mb-em,
.sm-mb-em {
	margin-bottom: var(--em);
}
.mx-rem,
.sm-mx-rem {
	margin-left: var(--rem);
	margin-right: var(--rem);
}
.my-rem,
.sm-my-rem {
	margin-top: var(--rem);
	margin-bottom: var(--rem);
}
.mt-rem,
.sm-mt-rem {
	margin-top: var(--rem);
}
.mr-rem,
.sm-mr-rem {
	margin-right: var(--rem);
}
.ml-rem,
.sm-ml-rem {
	margin-left: var(--rem);
}
.mb-rem,
.sm-mb-rem {
	margin-bottom: var(--rem);
}

.px-0,
.sm-px-0 {
	padding-left: 0;
	padding-right: 0;
}
.px-1,
.sm-px-1 {
	padding-left: var(--space-1);
	padding-right: var(--space-1);
}
.px-2,
.sm-px-2 {
	padding-left: var(--space-2);
	padding-right: var(--space-2);
}
.px-3,
.sm-px-3 {
	padding-left: var(--space-3);
	padding-right: var(--space-3);
}
.px-4,
.sm-px-4 {
	padding-left: var(--space-4);
	padding-right: var(--space-4);
}
.px-5,
.sm-px-5 {
	padding-left: var(--space-5);
	padding-right: var(--space-5);
}
.px-6,
.sm-px-6 {
	padding-left: var(--space-6);
	padding-right: var(--space-6);
}
.px-7,
.sm-px-7 {
	padding-left: var(--space-7);
	padding-right: var(--space-7);
}
.px-8,
.sm-px-8 {
	padding-left: var(--space-8);
	padding-right: var(--space-8);
}
.px-9,
.sm-px-9 {
	padding-left: var(--space-9);
	padding-right: var(--space-9);
}
.px-10,
.sm-px-10 {
	padding-left: var(--space-10);
	padding-right: var(--space-10);
}
.px-auto,
.sm-px-auto {
	padding-left: auto;
	padding-right: auto;
}

.py-0,
.sm-py-0 {
	padding-top: 0;
	padding-bottom: 0;
}
.py-1,
.sm-py-1 {
	padding-top: var(--space-1);
	padding-bottom: var(--space-1);
}
.py-2,
.sm-py-2 {
	padding-top: var(--space-2);
	padding-bottom: var(--space-2);
}
.py-3,
.sm-py-3 {
	padding-top: var(--space-3);
	padding-bottom: var(--space-3);
}
.py-4,
.sm-py-4 {
	padding-top: var(--space-4);
	padding-bottom: var(--space-4);
}
.py-5,
.sm-py-5 {
	padding-top: var(--space-5);
	padding-bottom: var(--space-5);
}
.py-6,
.sm-py-6 {
	padding-top: var(--space-6);
	padding-bottom: var(--space-6);
}
.py-7,
.sm-py-7 {
	padding-top: var(--space-7);
	padding-bottom: var(--space-7);
}
.py-8,
.sm-py-8 {
	padding-top: var(--space-8);
	padding-bottom: var(--space-8);
}
.py-9,
.sm-py-9 {
	padding-top: var(--space-9);
	padding-bottom: var(--space-9);
}
.py-10,
.sm-py-10 {
	padding-top: var(--space-10);
	padding-bottom: var(--space-10);
}
.py-auto,
.sm-py-auto {
	padding-top: auto;
	padding-bottom: auto;
}

.px-em,
.sm-px-em {
	padding-left: var(--em);
	padding-right: var(--em);
}
.py-em,
.sm-py-em {
	padding-top: var(--em);
	padding-bottom: var(--em);
}
.pt-em,
.sm-pt-em {
	padding-top: var(--em);
}
.pr-em,
.sm-pr-em {
	padding-right: var(--em);
}
.pl-em,
.sm-pl-em {
	padding-left: var(--em);
}
.pb-em,
.sm-pb-em {
	padding-bottom: var(--em);
}

.px-rem,
.sm-px-rem {
	padding-left: var(--rem);
	padding-right: var(--rem);
}
.py-rem,
.sm-py-rem {
	padding-top: var(--rem);
	padding-bottom: var(--rem);
}
.pt-rem,
.sm-pt-rem {
	padding-top: var(--rem);
}
.pr-rem,
.sm-pr-rem {
	padding-right: var(--rem);
}
.pl-rem,
.sm-pl-rem {
	padding-left: var(--rem);
}
.pb-rem,
.sm-pb-rem {
	padding-bottom: var(--rem);
}


@media (min-width: 40em) {
	.md-m-auto {
		margin: auto;
	}
	.md-mx-0 {
		margin-left: 0;
		margin-right: 0;
	}
	.md-mx-1 {
		margin-left: var(--space-1);
		margin-right: var(--space-1);
	}
	.md-mx-2 {
		margin-left: var(--space-2);
		margin-right: var(--space-2);
	}
	.md-mx-3 {
		margin-left: var(--space-3);
		margin-right: var(--space-3);
	}
	.md-mx-4 {
		margin-left: var(--space-4);
		margin-right: var(--space-4);
	}
	.md-mx-5 {
		margin-left: var(--space-5);
		margin-right: var(--space-5);
	}
	.md-mx-6 {
		margin-left: var(--space-6);
		margin-right: var(--space-6);
	}
	.md-mx-7 {
		margin-left: var(--space-7);
		margin-right: var(--space-7);
	}
	.md-mx-8 {
		margin-left: var(--space-8);
		margin-right: var(--space-8);
	}
	.md-mx-9 {
		margin-left: var(--space-9);
		margin-right: var(--space-9);
	}
	.md-mx-10 {
		margin-left: var(--space-10);
		margin-right: var(--space-10);
	}
	.md-mx-auto {
		margin-left: auto;
		margin-right: auto;
	}
	.md-mx-auto-center {
		margin: 0 auto;
	}
	.md-my-0 {
		margin-top: 0;
		margin-bottom: 0;
	}
	.md-my-1 {
		margin-top: var(--space-1);
		margin-bottom: var(--space-1);
	}
	.md-my-2 {
		margin-top: var(--space-2);
		margin-bottom: var(--space-2);
	}
	.md-my-3 {
		margin-top: var(--space-3);
		margin-bottom: var(--space-3);
	}
	.md-my-4 {
		margin-top: var(--space-4);
		margin-bottom: var(--space-4);
	}
	.md-my-5 {
		margin-top: var(--space-5);
		margin-bottom: var(--space-5);
	}
	.md-my-6 {
		margin-top: var(--space-6);
		margin-bottom: var(--space-6);
	}
	.md-my-7 {
		margin-top: var(--space-7);
		margin-bottom: var(--space-7);
	}
	.md-my-8 {
		margin-top: var(--space-8);
		margin-bottom: var(--space-8);
	}
	.md-my-9 {
		margin-top: var(--space-9);
		margin-bottom: var(--space-9);
	}
	.md-my-10 {
		margin-top: var(--space-10);
		margin-bottom: var(--space-10);
	}
	.md-my-auto {
		margin-top: auto;
		margin-bottom: auto;
	}
	.md-mx-em {
		margin-left: var(--em);
		margin-right: var(--em);
	}
	.md-my-em {
		margin-top: var(--em);
		margin-bottom: var(--em);
	}
	.md-mt-em {
		margin-top: var(--em);
	}
	.md-mr-em {
		margin-right: var(--em);
	}
	.md-ml-em {
		margin-left: var(--em);
	}
	.md-mb-em {
		margin-bottom: var(--em);
	}
	.md-mx-rem {
		margin-left: var(--rem);
		margin-right: var(--rem);
	}
	.md-my-rem {
		margin-top: var(--rem);
		margin-bottom: var(--rem);
	}
	.md-mt-rem {
		margin-top: var(--rem);
	}
	.md-mr-rem {
		margin-right: var(--rem);
	}
	.md-ml-rem {
		margin-left: var(--rem);
	}
	.md-mb-rem {
		margin-bottom: var(--rem);
	}
	.md-px-0 {
		padding-left: 0;
		padding-right: 0;
	}
	.md-px-1 {
		padding-left: var(--space-1);
		padding-right: var(--space-1);
	}
	.md-px-2 {
		padding-left: var(--space-2);
		padding-right: var(--space-2);
	}
	.md-px-3 {
		padding-left: var(--space-3);
		padding-right: var(--space-3);
	}
	.md-px-4 {
		padding-left: var(--space-4);
		padding-right: var(--space-4);
	}
	.md-px-5 {
		padding-left: var(--space-5);
		padding-right: var(--space-5);
	}
	.md-px-6 {
		padding-left: var(--space-6);
		padding-right: var(--space-6);
	}
	.md-px-7 {
		padding-left: var(--space-7);
		padding-right: var(--space-7);
	}
	.md-px-8 {
		padding-left: var(--space-8);
		padding-right: var(--space-8);
	}
	.md-px-9 {
		padding-left: var(--space-9);
		padding-right: var(--space-9);
	}
	.md-px-10 {
		padding-left: var(--space-10);
		padding-right: var(--space-10);
	}
	.md-px-auto {
		padding-left: auto;
		padding-right: auto;
	}
	.md-py-0 {
		padding-top: 0;
		padding-bottom: 0;
	}
	.md-py-1 {
		padding-top: var(--space-1);
		padding-bottom: var(--space-1);
	}
	.md-py-2 {
		padding-top: var(--space-2);
		padding-bottom: var(--space-2);
	}
	.md-py-3 {
		padding-top: var(--space-3);
		padding-bottom: var(--space-3);
	}
	.md-py-4 {
		padding-top: var(--space-4);
		padding-bottom: var(--space-4);
	}
	.md-py-5 {
		padding-top: var(--space-5);
		padding-bottom: var(--space-5);
	}
	.md-py-6 {
		padding-top: var(--space-6);
		padding-bottom: var(--space-6);
	}
	.md-py-7 {
		padding-top: var(--space-7);
		padding-bottom: var(--space-7);
	}
	.md-py-8 {
		padding-top: var(--space-8);
		padding-bottom: var(--space-8);
	}
	.md-py-9 {
		padding-top: var(--space-9);
		padding-bottom: var(--space-9);
	}
	.md-py-10 {
		padding-top: var(--space-10);
		padding-bottom: var(--space-10);
	}
	.md-py-auto {
		padding-top: auto;
		padding-bottom: auto;
	}
	.md-px-em {
		padding-left: var(--em);
		padding-right: var(--em);
	}
	.md-py-em {
		padding-top: var(--em);
		padding-bottom: var(--em);
	}
	.md-pt-em {
		padding-top: var(--em);
	}
	.md-pr-em {
		padding-right: var(--em);
	}
	.md-pl-em {
		padding-left: var(--em);
	}
	.md-pb-em {
		padding-bottom: var(--em);
	}
	.md-px-rem {
		padding-left: var(--rem);
		padding-right: var(--rem);
	}
	.md-py-rem {
		padding-top: var(--rem);
		padding-bottom: var(--rem);
	}
	.md-pt-rem {
		padding-top: var(--rem);
	}
	.md-pr-rem {
		padding-right: var(--rem);
	}
	.md-pl-rem {
		padding-left: var(--rem);
	}
	.md-pb-rem {
		padding-bottom: var(--rem);
	}
}

@media (min-width: 64em) {
	.lg-m-auto {
		margin: auto;
	}
	.lg-mx-0 {
		margin-left: 0;
		margin-right: 0;
	}
	.lg-mx-1 {
		margin-left: var(--space-1);
		margin-right: var(--space-1);
	}
	.lg-mx-2 {
		margin-left: var(--space-2);
		margin-right: var(--space-2);
	}
	.lg-mx-3 {
		margin-left: var(--space-3);
		margin-right: var(--space-3);
	}
	.lg-mx-4 {
		margin-left: var(--space-4);
		margin-right: var(--space-4);
	}
	.lg-mx-5 {
		margin-left: var(--space-5);
		margin-right: var(--space-5);
	}
	.lg-mx-6 {
		margin-left: var(--space-6);
		margin-right: var(--space-6);
	}
	.lg-mx-7 {
		margin-left: var(--space-7);
		margin-right: var(--space-7);
	}
	.lg-mx-8 {
		margin-left: var(--space-8);
		margin-right: var(--space-8);
	}
	.lg-mx-9 {
		margin-left: var(--space-9);
		margin-right: var(--space-9);
	}
	.lg-mx-10 {
		margin-left: var(--space-10);
		margin-right: var(--space-10);
	}
	.lg-mx-auto {
		margin-left: auto;
		margin-right: auto;
	}
	.lg-mx-auto-center {
		margin: 0 auto;
	}
	.lg-my-0 {
		margin-top: 0;
		margin-bottom: 0;
	}
	.lg-my-1 {
		margin-top: var(--space-1);
		margin-bottom: var(--space-1);
	}
	.lg-my-2 {
		margin-top: var(--space-2);
		margin-bottom: var(--space-2);
	}
	.lg-my-3 {
		margin-top: var(--space-3);
		margin-bottom: var(--space-3);
	}
	.lg-my-4 {
		margin-top: var(--space-4);
		margin-bottom: var(--space-4);
	}
	.lg-my-5 {
		margin-top: var(--space-5);
		margin-bottom: var(--space-5);
	}
	.lg-my-6 {
		margin-top: var(--space-6);
		margin-bottom: var(--space-6);
	}
	.lg-my-7 {
		margin-top: var(--space-7);
		margin-bottom: var(--space-7);
	}
	.lg-my-8 {
		margin-top: var(--space-8);
		margin-bottom: var(--space-8);
	}
	.lg-my-9 {
		margin-top: var(--space-9);
		margin-bottom: var(--space-9);
	}
	.lg-my-10 {
		margin-top: var(--space-10);
		margin-bottom: var(--space-10);
	}
	.lg-my-auto {
		margin-top: auto;
		margin-bottom: auto;
	}
	.lg-mx-em {
		margin-left: var(--em);
		margin-right: var(--em);
	}
	.lg-my-em {
		margin-top: var(--em);
		margin-bottom: var(--em);
	}
	.lg-mt-em {
		margin-top: var(--em);
	}
	.lg-mr-em {
		margin-right: var(--em);
	}
	.lg-ml-em {
		margin-left: var(--em);
	}
	.lg-mb-em {
		margin-bottom: var(--em);
	}
	.lg-mx-rem {
		margin-left: var(--rem);
		margin-right: var(--rem);
	}
	.lg-my-rem {
		margin-top: var(--rem);
		margin-bottom: var(--rem);
	}
	.lg-mt-rem {
		margin-top: var(--rem);
	}
	.lg-mr-rem {
		margin-right: var(--rem);
	}
	.lg-ml-rem {
		margin-left: var(--rem);
	}
	.lg-mb-rem {
		margin-bottom: var(--rem);
	}
	.lg-px-0 {
		padding-left: 0;
		padding-right: 0;
	}
	.lg-px-1 {
		padding-left: var(--space-1);
		padding-right: var(--space-1);
	}
	.lg-px-2 {
		padding-left: var(--space-2);
		padding-right: var(--space-2);
	}
	.lg-px-3 {
		padding-left: var(--space-3);
		padding-right: var(--space-3);
	}
	.lg-px-4 {
		padding-left: var(--space-4);
		padding-right: var(--space-4);
	}
	.lg-px-5 {
		padding-left: var(--space-5);
		padding-right: var(--space-5);
	}
	.lg-px-6 {
		padding-left: var(--space-6);
		padding-right: var(--space-6);
	}
	.lg-px-7 {
		padding-left: var(--space-7);
		padding-right: var(--space-7);
	}
	.lg-px-8 {
		padding-left: var(--space-8);
		padding-right: var(--space-8);
	}
	.lg-px-9 {
		padding-left: var(--space-9);
		padding-right: var(--space-9);
	}
	.lg-px-10 {
		padding-left: var(--space-10);
		padding-right: var(--space-10);
	}
	.lg-px-auto {
		padding-left: auto;
		padding-right: auto;
	}
	.lg-py-0 {
		padding-top: 0;
		padding-bottom: 0;
	}
	.lg-py-1 {
		padding-top: var(--space-1);
		padding-bottom: var(--space-1);
	}
	.lg-py-2 {
		padding-top: var(--space-2);
		padding-bottom: var(--space-2);
	}
	.lg-py-3 {
		padding-top: var(--space-3);
		padding-bottom: var(--space-3);
	}
	.lg-py-4 {
		padding-top: var(--space-4);
		padding-bottom: var(--space-4);
	}
	.lg-py-5 {
		padding-top: var(--space-5);
		padding-bottom: var(--space-5);
	}
	.lg-py-6 {
		padding-top: var(--space-6);
		padding-bottom: var(--space-6);
	}
	.lg-py-7 {
		padding-top: var(--space-7);
		padding-bottom: var(--space-7);
	}
	.lg-py-8 {
		padding-top: var(--space-8);
		padding-bottom: var(--space-8);
	}
	.lg-py-9 {
		padding-top: var(--space-9);
		padding-bottom: var(--space-9);
	}
	.lg-py-10 {
		padding-top: var(--space-10);
		padding-bottom: var(--space-10);
	}
	.lg-py-auto {
		padding-top: auto;
		padding-bottom: auto;
	}
	.lg-px-em {
		padding-left: var(--em);
		padding-right: var(--em);
	}
	.lg-py-em {
		padding-top: var(--em);
		padding-bottom: var(--em);
	}
	.lg-pt-em {
		padding-top: var(--em);
	}
	.lg-pr-em {
		padding-right: var(--em);
	}
	.lg-pl-em {
		padding-left: var(--em);
	}
	.lg-pb-em {
		padding-bottom: var(--em);
	}
	.lg-px-rem {
		padding-left: var(--rem);
		padding-right: var(--rem);
	}
	.lg-py-rem {
		padding-top: var(--rem);
		padding-bottom: var(--rem);
	}
	.lg-pt-rem {
		padding-top: var(--rem);
	}
	.lg-pr-rem {
		padding-right: var(--rem);
	}
	.lg-pl-rem {
		padding-left: var(--rem);
	}
	.lg-pb-rem {
		padding-bottom: var(--rem);
	}
}
