.list-reset {
	list-style: none;
	padding: 0;
	margin: 0;
}
.list-style-none {
	list-style: none;
}
.list-style-square {
	list-style: square;
}
.list-style-circle {
	list-style: circle;
}
.list-style-disc {
	list-style: disc;
}
.list-style-decimal {
	list-style: decimal;
}
