:root {
	--badge-color: var(--color-white);
	--badge-bg: var(--color-black);
	--badge-font-size: var(--overline-small);
	--badge-font-weight: var(--fw700);
	--badge-font-family: var(--inter);
	--badge-line-height: 1.3;
	--badge-text-transform: uppercase;
	--badge-letter-spacing: 2px;
	--badge-padding-x: var(--space-1);
	--badge-padding-y: var(--space-2);
	--badge-border-radius: 8px;
	--badge-text-decoration: none;
	--badge-cursor: pointer;
}

.badge {
	color: var(--badge-color);
	background-color: var(--badge-bg);
	font-size: var(--badge-font-size);
	font-weight: var(--badge-font-weight);
	line-height: var(--badge-line-height);
	letter-spacing: var(--badge-letter-spacing);
	text-transform: var(--badge-text-transform);
	padding: var(--badge-padding-x) var(--badge-padding-y);
	border-radius: var(--badge-border-radius);
	text-decoration: var(--badge-text-decoration);
	cursor: var(--badge-cursor); 
}
.badge-small {
	--badge-line-height: 1.3;
	--badge-font-size: var(--overline-small);
}
.badge-medium {
	--badge-line-height: 1.09;
	--badge-font-size: var(--overline-big);
}
.badge-reverse {
	--badge-color: var(--color-black);
	--badge-bg: var(--color-white);
}
.badge-light {
	--badge-color: var(--color-gray-700);
	--badge-bg: var(--color-gray-300);
}
.badge-light-success {
	--badge-color: var(--color-success);
	--badge-bg: var(--color-success-light);
}
.badge-light-error {
	--badge-color: var(--color-error);
	--badge-bg: var(--color-error-light);
}
.badge-light-alert {
	--badge-color: var(--color-alert);
	--badge-bg: var(--color-alert-light);
}
.badge-light-warning {
	--badge-color: var(--color-warning);
	--badge-bg: var(--color-warning-light);
}
.badge-light-info {
	--badge-color: var(--color-info);
	--badge-bg: var(--color-info-light);
}

.badge-dark {
	--badge-color: var(--color-white);
	--badge-bg: var(--color-gray-700);
}
.badge-dark-success {
	--badge-color: var(--color-white);
	--badge-bg: var(--color-success);
}
.badge-dark-error {
	--badge-color: var(--color-white);
	--badge-bg: var(--color-error);
}
.badge-dark-alert {
	--badge-color: var(--color-black);
	--badge-bg: var(--color-alert);
}
.badge-dark-warning {
	--badge-color: var(--color-white);
	--badge-bg: var(--color-warning);
}
.badge-dark-info {
	--badge-color: var(--color-white);
	--badge-bg: var(--color-info);
}
