:root {
	--btn-padding-x: var(--space-2);
	--btn-padding-y: var(--space-3);
	--btn-border-radius: 100px;
	--btn-color: var(-color-brand-deep-blue);
	--btn-border-color: var(-color-brand-deep-blue);
	--btn-border-style: solid;
	--btn-border-width: 1px;
	--btn-border: var(var(--btn-border-width) var(--btn-border-style) var(--btn-border-color));
	--btn-bg: transparent;
	--btn-text-transform: uppercase;
	--btn-font-size: var(--overline-big);
	--btn-font-weight: var(--fw700);
	--btn-font-family: var(--inter);
	--btn-text-decoration: none;
	--btn-box-shadow: none;
	--btn-line-height: 1.09;
}

.btn{
	display: inline-flex;
	align-items: center;
	padding: var(--btn-padding-x) var(--btn-padding-y);
	border: var(--btn-border);
	border-radius: var(--btn-border-radius);
	color: var(--btn-color);
	background-color: var(--btn-bg);
	text-transform: var(--btn-text-transform);
	font-size: var(--btn-font-size);
	font-weight: var(--btn-font-weight);
	line-height: var(--btn-line-height);
	letter-spacing: 2px;
	text-decoration: var(--btn-text-decoration);
}

.btn-small {
	--btn-padding-x: var(--space-2);
	--btn-padding-y: var(--space-3);
}
.btn-medium {
	--btn-padding-x: var(--space-3);
	--btn-padding-y: var(--space-4);
}
.btn-large {
	--btn-padding-x: var(--space-10);
	--btn-padding-y: var(--space-6);
}

.btn-primary {
	--btn-border-width: 0;
	--btn-color: var(--color-brand-deep-blue);
	--btn-bg: var(--color-brand-mint);
}
.btn-secondary {
	--btn-border-width: 0;
	--btn-color: var(--color-white);
	--btn-bg: var(--color-brand-deep-blue);
}

.btn-disabled,
.btn[disabled],
button[disabled] {
	--btn-border-width: 0;
	--btn-color: var(--color-gray-600);
	--btn-bg: var(--color-gray-300);
}
.btn-hot-pink {
	--btn-bg: var(--color-brand-hot-pink);
}
.btn-canary {
	--btn-bg: var(--color-brand-canary);
}
