:root {
	--color-black: #090909;
	--color-white: #ffffff;

	--color-brand-mint: hsl(177, 66%, 56%);
	--color-brand-deep-blue: hsl(240, 37%, 24%);
	--color-brand-hot-pink: #fbd6e2;
	--color-brand-canary: hsl(49, 83%, 60%);

	--color-courses-green: #a0f1d8;
	--color-courses-purple: #f1c7ff;
	--color-courses-mint: #b5f0ed;

	--color-gray-100: #f6f8fd;
	--color-gray-200: #f1f4ff;
	--color-gray-300: #e7ebfb;
	--color-gray-400: #dadff2;
	--color-gray-500: #bbc2dc;
	--color-gray-600: #9299be;
	--color-gray-700: #545a77;
	--color-gray-800: #45495a;
	--color-gray-900: #161616;
	--color-gray: #e7ebfb;

	--color-state-hover: #7d8cff;
	--color-state-pressed: #5b6ae8;
	--color-state-motion: linear-gradient(90deg, #f1f4ff 0%, #e7ebfb 100%);

	--color-info: #5487f5;
	--color-info-light: #e5edfe;
	--color-success: #00c48c;
	--color-success-light: #d9f6ee;
	--color-alert: #f1b422;
	--color-alert-light: #fff8e7;
	--color-warning: #ffa26b;
	--color-warning-light: #fff1e9;
	--color-error: #ff647c;
	--color-error-light: #ffe8eb;
	--color-error-semi-light: #efdddf;
}
.white {
	color:var(--color-white);
}
.black {
	color: var(--color-black);
}
/* brand */
.mint {
	color: var(--color-brand-mint);
}
.deep-blue {
	color: var(--color-brand-deep-blue);
}
.hot-pink {
	color: var(--color-brand-hot-pink);
}
.canary {
	color: var(--color-brand-canary);
}
.bg-mint {
	background-color: var(--color-brand-mint);
}
.bg-deep-blue {
	background-color: var(--color-brand-deep-blue);
}
.bg-hot-pink {
	background-color: var(--color-brand-hot-pink);
}
.bg-canary {
	background-color: var(--color-brand-canary);
}

/* courses  */
.courses-green {
	color: var(--color-courses-green);
}
.courses-purple {
	color: var(--color-courses-purple);
}
.courses-mint {
	color: var(--color-courses-mint);
}
.bg-courses-green {
	background-color: var(--color-courses-green);
}
.bg-courses-purple {
	background-color: var(--color-courses-purple);
}
.bg-courses-mint {
	background-color: var(--color-courses-mint);
}

/* alerts */
.info {
	color: var(--color-info);
}
.info-light {
	color: var(--color-info-light);
}
.success {
	color: var(--color-success);
}
.success-light {
	color: var(--color-success-light);
}
.alert {
	color: var(--color-alert);
}
.warning {
	color: var(--color-warning);
}
.error {
	color: var(--color-error);
}
.error-light {
	color: var(--color-error-light);
}
.error-semi-light {
	color: var(--color-error-semi-light);
}

.bg-info {
	background-color: var(--color-info);
}
.bg-info-light {
	background-color: var(--color-info-light);
}
.bg-success {
	background-color: var(--color-success);
}
.bg-success-light {
	background-color: var(--color-success-light);
}
.bg-alert {
	background-color: var(--color-alert);
}
.bg-warning {
	background-color: var(--color-warning);
}
.bg-error {
	background-color: var(--color-error);
}
.bg-error-light {
	background-color: var(--color-error-light);
}
.bg-error-semi-light {
	background-color: var(--color-error-semi-light);
}

/* state */
.state-hover:hover {
	color: var(--color-state-hover);
}
.state-pressed:active {
	color: var(--color-state-pressed);
}
.state-motion {
	background-image: var(--color-state-motion);
}

/* grays */
.gray-100 {
	color: var(--color-gray-100);
}
.gray-200 {
	color: var(--color-gray-200);
}
.gray-300 {
	color: var(--color-gray-300);
}
.gray-400 {
	color: var(--color-gray-400);
}
.gray-500 {
	color: var(--color-gray-500);
}
.gray-600 {
	color: var(--color-gray-600);
}
.gray-700 {
	color: var(--color-gray-700);
}
.gray-800 {
	color: var(--color-gray-800);
}
.gray-900 {
	color: var(--color-gray-900);
}
.gray {
	color: var(--color-gray);
}
.bg-gray-100 {
	background-color: var(--color-gray-100);
}
.bg-gray-200 {
	background-color: var(--color-gray-200);
}
.bg-gray-300 {
	background-color: var(--color-gray-300);
}
.bg-gray-400 {
	background-color: var(--color-gray-400);
}
.bg-gray-500 {
	background-color: var(--color-gray-500);
}
.bg-gray-600 {
	background-color: var(--color-gray-600);
}
.bg-gray-700 {
	background-color: var(--color-gray-700);
}
.bg-gray-800 {
	background-color: var(--color-gray-800);
}
.bg-gray-900 {
	background-color: var(--color-gray-900);
}
.bg-gray {
	background-color: var(--color-gray);
}
