.container {
	width: 100%;
	max-width: 1160px;
}

/* break child element out of parent container */
.fullwidth {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}
/* handle scrollbar on desktop */
@media (min-width: 64em) {
	.fullwidth {
		width: calc(100vw - 16px);
	}

	@supports (scrollbar-gutter: stable both-edges) {
		.fullwidth {
			width: 100vw;
		}
	}
}
