.flex,
.sm-flex {
	display: flex;
}
.flex-column,
.sm-flex-column {
	flex-direction: column;
}
.flex-row,
.sm-flex-row {
	flex-direction: row;
}
.flex-reverse,
.sm-flex-reverse {
	flex-direction: row-reverse;
}
.flex-reverse-column,
.sm-flex-reverse-column {
	flex-direction: column-reverse;
}
.flex-wrap,
.sm-flex-wrap {
	flex-wrap: wrap;
}
.flex-nowrap,
.sm-flex-nowrap {
	flex-wrap: nowrap;
}
.flex-wrap-reverse {
	flex-wrap: wrap-reverse;
}
.flex-inline,
.sm-flex-inline {
	display: inline-flex;
}
.flex-center,
.sm-flex-center {
	justify-content: center;
	align-items: center;
}
.justify-start,
.sm-justify-start {
	justify-content: flex-start;
}
.justify-end,
.sm-justify-end {
	justify-content: flex-end;
}
.justify-center,
.sm-justify-center {
	justify-content: center;
}
.justify-between,
.sm-justify-between {
	justify-content: space-between;
}
.justify-around,
.sm-justify-around {
	justify-content: space-around;
}
.justify-evenly,
.sm-justify-evenly {
	justify-content: space-evenly;
}
.align-start,
.sm-align-start {
	align-items: flex-start;
}
.align-end {
	align-items: flex-end;
}
.align-center {
	align-items: center;
}

.flex-1 {
	flex: 1;
}

.flex-2 {
	flex: 2;
}

.flex-3 {
	flex: 3;
}

.flex-4 {
	flex: 4;
}
.flex-auto {
	flex: auto;
}
.flex-none {
	flex: none;
}
@media (min-width: 40em) {
	.md-flex {
		display: flex;
	}
	.md-flex-column {
		flex-direction: column;
	}
	.md-flex-row {
		flex-direction: row;
	}
	.md-flex-reverse {
		flex-direction: row-reverse;
	}
	.md-flex-reverse-column {
		flex-direction: column-reverse;
	}
	.md-flex-wrap {
		flex-wrap: wrap;
	}
	.md-flex-nowrap {
		flex-wrap: nowrap;
	}
	.md-flex-wrap-reverse {
		flex-wrap: wrap-reverse;
	}
	.md-flex-inline {
		display: inline-flex;
	}
	.md-flex-center {
		justify-content: center;
		align-items: center;
	}
	.md-justify-start {
		justify-content: flex-start;
	}
	.md-justify-end {
		justify-content: flex-end;
	}
	.md-justify-center {
		justify-content: center;
	}
	.md-justify-between {
		justify-content: space-between;
	}
	.md-justify-around {
		justify-content: space-around;
	}
	.md-justify-evenly {
		justify-content: space-evenly;
	}
	.md-align-start {
		align-items: flex-start;
	}
	.md-align-end {
		align-items: flex-end;
	}
	.md-align-center {
		align-items: center;
	}
	.md-flex-1 {
		flex: 1;
	}
	.md-flex-2 {
		flex: 2;
	}
	.md-flex-3 {
		flex: 3;
	}
	.md-flex-4 {
		flex: 4;
	}
	.md-flex-auto {
		flex: auto;
	}
	.md-flex-none {
		flex: none;
	}
}

@media (min-width: 64em) {
	.lg-flex {
		display: flex;
	}
	.lg-flex-column {
		flex-direction: column;
	}
	.lg-flex-row {
		flex-direction: row;
	}
	.lg-flex-reverse {
		flex-direction: row-reverse;
	}
	.lg-flex-reverse-column {
		flex-direction: column-reverse;
	}
	.lg-flex-wrap {
		flex-wrap: wrap;
	}
	.lg-flex-nowrap {
		flex-wrap: nowrap;
	}
	.lg-flex-wrap-reverse {
		flex-wrap: wrap-reverse;
	}
	.lg-flex-inline {
		display: inline-flex;
	}
	.lg-flex-center {
		justify-content: center;
		align-items: center;
	}
	.lg-justify-start {
		justify-content: flex-start;
	}
	.lg-justify-end {
		justify-content: flex-end;
	}
	.lg-justify-center {
		justify-content: center;
	}
	.lg-justify-between {
		justify-content: space-between;
	}
	.lg-justify-around {
		justify-content: space-around;
	}
	.lg-justify-evenly {
		justify-content: space-evenly;
	}
	.lg-align-start {
		align-items: flex-start;
	}
	.lg-align-end {
		align-items: flex-end;
	}
	.lg-align-center {
		align-items: center;
	}
	.lg-flex-1 {
		flex: 1;
	}
	.lg-flex-2 {
		flex: 2;
	}
	.lg-flex-3 {
		flex: 3;
	}
	.lg-flex-4 {
		flex: 4;
	}
	.lg-flex-auto {
		flex: auto;
	}
	.lg-flex-none {
		flex: none;
	}
}
