.gap {
	--gap-x: 1rem;
	--gap-y: 1rem;
	gap: var(--gap-x) var(--gap-y);
}
.gap-1 {
	gap: var(--space-1);
}
.gap-2 {
	gap: var(--space-2);
}
.gap-3 {
	gap: var(--space-3);
}
.gap-4 {
	gap: var(--space-4);
}
.gap-5 {
	gap: var(--space-5);
}
.gap-6 {
	gap: var(--space-6);
}
.gap-7 {
	gap: var(--space-7);
}
.gap-8 {
	gap: var(--space-8);
}
.gap-9 {
	gap: var(--space-9);
}
.gap-10 {
	gap: var(--space-10);
}
.gap-11 {
	gap: var(--space-11);
}
.gap-12 {
	gap: var(--space-12);
}
.gap-13 {
	gap: var(--space-13);
}
.gap-14 {
	gap: var(--space-14);
}
.gap-15 {
	gap: var(--space-15);
}
.gap-16 {
	gap: var(--space-16);
}
.gap-1px {
	gap: var(--space-1px);
}
.gap-2px {
	gap: var(--space-2px);
}
.gap-3px {
	gap: var(--space-3px);
}
.gap-4px {
	gap: var(--space-4px);
}
.gap-5px {
	gap: var(--space-5px);
}
.gap-6px {
	gap: var(--space-6px);
}
.gap-7px {
	gap: var(--space-7px);
}
.gap-8px {
	gap: var(--space-8px);
}
.gap-9px {
	gap: var(--space-9px);
}
.gap-10px {
	gap: var(--space-10px);
}

.gap-x-1 {
	gap: 0 var(--space-1);
}
.gap-x-2 {
	gap: 0 var(--space-2);
}
.gap-x-3 {
	gap: 0 var(--space-3);
}
.gap-x-4 {
	gap: 0 var(--space-4);
}
.gap-x-5 {
	gap: 0 var(--space-5);
}
.gap-x-6 {
	gap: 0 var(--space-6);
}
.gap-x-7 {
	gap: 0 var(--space-7);
}
.gap-x-8 {
	gap: 0 var(--space-8);
}
.gap-x-9 {
	gap: 0 var(--space-9);
}
.gap-x-10 {
	gap: 0 var(--space-10);
}
.gap-x-11 {
	gap: 0 var(--space-11);
}
.gap-x-12 {
	gap: 0 var(--space-12);
}
.gap-x-13 {
	gap: 0 var(--space-13);
}
.gap-x-14 {
	gap: 0 var(--space-14);
}
.gap-x-15 {
	gap: 0 var(--space-15);
}
.gap-x-16 {
	gap: 0 var(--space-16);
}
.gap-x-1px {
	gap: 0 var(--space-1px);
}
.gap-x-2px {
	gap: 0 var(--space-2px);
}
.gap-x-3px {
	gap: 0 var(--space-3px);
}
.gap-x-4px {
	gap: 0 var(--space-4px);
}
.gap-x-5px {
	gap: 0 var(--space-5px);
}
.gap-x-6px {
	gap: 0 var(--space-6px);
}
.gap-x-7px {
	gap: 0 var(--space-7px);
}
.gap-x-8px {
	gap: 0 var(--space-8px);
}
.gap-x-9px {
	gap: 0 var(--space-9px);
}
.gap-x-10px {
	gap: 0 var(--space-10px);
}

.gap-y-1 {
	gap: var(--space-1) 0;
}
.gap-y-2 {
	gap: var(--space-2) 0;
}
.gap-y-3 {
	gap: var(--space-3) 0;
}
.gap-y-4 {
	gap: var(--space-4) 0;
}
.gap-y-5 {
	gap: var(--space-5) 0;
}
.gap-y-6 {
	gap: var(--space-6) 0;
}
.gap-y-7 {
	gap: var(--space-7) 0;
}
.gap-y-8 {
	gap: var(--space-8) 0;
}
.gap-y-9 {
	gap: var(--space-9) 0;
}
.gap-y-10 {
	gap: var(--space-10) 0;
}
.gap-y-11 {
	gap: var(--space-11) 0;
}
.gap-y-12 {
	gap: var(--space-12) 0;
}
.gap-y-13 {
	gap: var(--space-13) 0;
}
.gap-y-14 {
	gap: var(--space-14) 0;
}
.gap-y-15 {
	gap: var(--space-15) 0;
}
.gap-y-16 {
	gap: var(--space-16) 0;
}
.gap-y-1px {
	gap: var(--space-1px) 0;
}
.gap-y-2px {
	gap: var(--space-2px) 0;
}
.gap-y-3px {
	gap: var(--space-3px) 0;
}
.gap-y-4px {
	gap: var(--space-4px) 0;
}
.gap-y-5px {
	gap: var(--space-5px) 0;
}
.gap-y-6px {
	gap: var(--space-6px) 0;
}
.gap-y-7px {
	gap: var(--space-7px) 0;
}
.gap-y-8px {
	gap: var(--space-8px) 0;
}
.gap-y-9px {
	gap: var(--space-9px) 0;
}
.gap-y-10px {
	gap: var(--space-10px) 0;
}
