/* margin  */
.m-auto {
	margin: auto;
}
.m-0 {
	margin: 0;
}
.m-1 {
	margin: var(--space-1);
}
.m-2 {
	margin: var(--space-2);
}
.m-3 {
	margin: var(--space-3);
}
.m-4 {
	margin: var(--space-4);
}
.m-5 {
	margin: var(--space-5);
}
.m-6 {
	margin: var(--space-6);
}
.m-7 {
	margin: var(--space-7);
}
.m-8 {
	margin: var(--space-8);
}
.m-9 {
	margin: var(--space-9);
}
.m-10 {
	margin: var(--space-10);
}
.m-11 {
	margin: var(--space-11);
}
.m-12 {
	margin: var(--space-12);
}
.m-13 {
	margin: var(--space-13);
}
.m-14 {
	margin: var(--space-14);
}
.m-15 {
	margin: var(--space-15);
}
.m-16 {
	margin: var(--space-16);
}
.m-17 {
	margin: var(--space-17);
}
.m-18 {
	margin: var(--space-18);
}
.m-19 {
	margin: var(--space-19);
}
.m-20 {
	margin: var(--space-20);
}

.m-1px {
	margin: var(--space-1px);
}
.m-2px {
	margin: var(--space-2px);
}
.m-3px {
	margin: var(--space-3px);
}
.m-4px {
	margin: var(--space-4px);
}
.m-5px {
	margin: var(--space-5px);
}
.m-6px {
	margin: var(--space-6px);
}
.m-7px {
	margin: var(--space-7px);
}
.m-8px {
	margin: var(--space-8px);
}
.m-9px {
	margin: var(--space-9px);
}
.m-10px {
	margin: var(--space-10px);
}

.mx-0 {
	margin-left: 0;
	margin-right: 0;
}
.mx-1 {
	margin-left: var(--space-1);
	margin-right: var(--space-1);
}
.mx-2 {
	margin-left: var(--space-2);
	margin-right: var(--space-2);
}
.mx-3 {
	margin-left: var(--space-3);
	margin-right: var(--space-3);
}
.mx-4 {
	margin-left: var(--space-4);
	margin-right: var(--space-4);
}
.mx-5 {
	margin-left: var(--space-5);
	margin-right: var(--space-5);
}
.mx-6 {
	margin-left: var(--space-6);
	margin-right: var(--space-6);
}
.mx-7 {
	margin-left: var(--space-7);
	margin-right: var(--space-7);
}
.mx-8 {
	margin-left: var(--space-8);
	margin-right: var(--space-8);
}
.mx-9 {
	margin-left: var(--space-9);
	margin-right: var(--space-9);
}
.mx-10 {
	margin-left: var(--space-10);
	margin-right: var(--space-10);
}
.mx-11 {
	margin-left: var(--space-11);
	margin-right: var(--space-11);
}
.mx-12 {
	margin-left: var(--space-12);
	margin-right: var(--space-12);
}
.mx-13 {
	margin-left: var(--space-13);
	margin-right: var(--space-13);
}
.mx-14 {
	margin-left: var(--space-14);
	margin-right: var(--space-14);
}
.mx-15 {
	margin-left: var(--space-15);
	margin-right: var(--space-15);
}
.mx-16 {
	margin-left: var(--space-16);
	margin-right: var(--space-16);
}
.mx-17 {
	margin-left: var(--space-17);
	margin-right: var(--space-17);
}
.mx-18 {
	margin-left: var(--space-18);
	margin-right: var(--space-18);
}
.mx-19 {
	margin-left: var(--space-19);
	margin-right: var(--space-19);
}
.mx-20 {
	margin-left: var(--space-20);
	margin-right: var(--space-20);
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.mx-1px {
	margin-left: var(--space-1px);
	margin-right: var(--space-1px);
}
.mx-2px {
	margin-left: var(--space-2px);
	margin-right: var(--space-2px);
}
.mx-3px {
	margin-left: var(--space-3px);
	margin-right: var(--space-3px);
}
.mx-4px {
	margin-left: var(--space-4px);
	margin-right: var(--space-4px);
}
.mx-5px {
	margin-left: var(--space-5px);
	margin-right: var(--space-5px);
}
.mx-6px {
	margin-left: var(--space-6px);
	margin-right: var(--space-6px);
}
.mx-7px {
	margin-left: var(--space-7px);
	margin-right: var(--space-7px);
}
.mx-8px {
	margin-left: var(--space-8px);
	margin-right: var(--space-8px);
}
.mx-9px {
	margin-left: var(--space-9px);
	margin-right: var(--space-9px);
}
.mx-10px {
	margin-left: var(--space-10px);
	margin-right: var(--space-10px);
}

.my-0 {
	margin-top: 0;
	margin-bottom: 0;
}
.my-1 {
	margin-top: var(--space-1);
	margin-bottom: var(--space-1);
}
.my-2 {
	margin-top: var(--space-2);
	margin-bottom: var(--space-2);
}
.my-3 {
	margin-top: var(--space-3);
	margin-bottom: var(--space-3);
}
.my-4 {
	margin-top: var(--space-4);
	margin-bottom: var(--space-4);
}
.my-5 {
	margin-top: var(--space-5);
	margin-bottom: var(--space-5);
}
.my-6 {
	margin-top: var(--space-6);
	margin-bottom: var(--space-6);
}
.my-7 {
	margin-top: var(--space-7);
	margin-bottom: var(--space-7);
}
.my-8 {
	margin-top: var(--space-8);
	margin-bottom: var(--space-8);
}
.my-9 {
	margin-top: var(--space-9);
	margin-bottom: var(--space-9);
}
.my-10 {
	margin-top: var(--space-10);
	margin-bottom: var(--space-10);
}
.my-11 {
	margin-top: var(--space-11);
	margin-bottom: var(--space-11);
}
.my-12 {
	margin-top: var(--space-12);
	margin-bottom: var(--space-12);
}
.my-13 {
	margin-top: var(--space-13);
	margin-bottom: var(--space-13);
}
.my-14 {
	margin-top: var(--space-14);
	margin-bottom: var(--space-14);
}
.my-15 {
	margin-top: var(--space-15);
	margin-bottom: var(--space-15);
}
.my-16 {
	margin-top: var(--space-16);
	margin-bottom: var(--space-16);
}
.my-17 {
	margin-top: var(--space-17);
	margin-bottom: var(--space-17);
}
.my-18 {
	margin-top: var(--space-18);
	margin-bottom: var(--space-18);
}
.my-19 {
	margin-top: var(--space-19);
	margin-bottom: var(--space-19);
}
.my-20 {
	margin-top: var(--space-20);
	margin-bottom: var(--space-20);
}

.my-auto {
	margin-top: auto;
	margin-bottom: auto;
}
.my-1px {
	margin-top: var(--space-1px);
	margin-bottom: var(--space-1px);
}
.my-2px {
	margin-top: var(--space-2px);
	margin-bottom: var(--space-2px);
}
.my-3px {
	margin-top: var(--space-3px);
	margin-bottom: var(--space-3px);
}
.my-4px {
	margin-top: var(--space-4px);
	margin-bottom: var(--space-4px);
}
.my-5px {
	margin-top: var(--space-5px);
	margin-bottom: var(--space-5px);
}
.my-6px {
	margin-top: var(--space-6px);
	margin-bottom: var(--space-6px);
}
.my-7px {
	margin-top: var(--space-7px);
	margin-bottom: var(--space-7px);
}
.my-8px {
	margin-top: var(--space-8px);
	margin-bottom: var(--space-8px);
}
.my-9px {
	margin-top: var(--space-9px);
	margin-bottom: var(--space-9px);
}
.my-10px {
	margin-top: var(--space-10px);
	margin-bottom: var(--space-10px);
}

.mt-0 {
	margin-top: 0;
}
.mt-1 {
	margin-top: var(--space-1);
}
.mt-2 {
	margin-top: var(--space-2);
}
.mt-3 {
	margin-top: var(--space-3);
}
.mt-4 {
	margin-top: var(--space-4);
}
.mt-5 {
	margin-top: var(--space-5);
}
.mt-6 {
	margin-top: var(--space-6);
}
.mt-7 {
	margin-top: var(--space-7);
}
.mt-8 {
	margin-top: var(--space-8);
}
.mt-9 {
	margin-top: var(--space-9);
}
.mt-10 {
	margin-top: var(--space-10);
}
.mt-11 {
	margin-top: var(--space-11);
}
.mt-12 {
	margin-top: var(--space-12);
}
.mt-13 {
	margin-top: var(--space-13);
}
.mt-14 {
	margin-top: var(--space-14);
}
.mt-15 {
	margin-top: var(--space-15);
}
.mt-16 {
	margin-top: var(--space-16);
}
.mt-17 {
	margin-top: var(--space-17);
}
.mt-18 {
	margin-top: var(--space-18);
}
.mt-19 {
	margin-top: var(--space-19);
}
.mt-20 {
	margin-top: var(--space-20);
}

.mt-1px {
	margin-top: var(--space-1px);
}
.mt-2px {
	margin-top: var(--space-2px);
}
.mt-3px {
	margin-top: var(--space-3px);
}
.mt-4px {
	margin-top: var(--space-4px);
}
.mt-5px {
	margin-top: var(--space-5px);
}
.mt-6px {
	margin-top: var(--space-6px);
}
.mt-7px {
	margin-top: var(--space-7px);
}
.mt-8px {
	margin-top: var(--space-8px);
}
.mt-9px {
	margin-top: var(--space-9px);
}
.mt-10px {
	margin-top: var(--space-10px);
}

.mb-0 {
	margin-bottom: 0;
}
.mb-1 {
	margin-bottom: var(--space-1);
}
.mb-2 {
	margin-bottom: var(--space-2);
}
.mb-3 {
	margin-bottom: var(--space-3);
}
.mb-4 {
	margin-bottom: var(--space-4);
}
.mb-5 {
	margin-bottom: var(--space-5);
}
.mb-6 {
	margin-bottom: var(--space-6);
}
.mb-7 {
	margin-bottom: var(--space-7);
}
.mb-8 {
	margin-bottom: var(--space-8);
}
.mb-9 {
	margin-bottom: var(--space-9);
}
.mb-10 {
	margin-bottom: var(--space-10);
}
.mb-11 {
	margin-bottom: var(--space-11);
}
.mb-12 {
	margin-bottom: var(--space-12);
}
.mb-13 {
	margin-bottom: var(--space-13);
}
.mb-14 {
	margin-bottom: var(--space-14);
}
.mb-15 {
	margin-bottom: var(--space-15);
}
.mb-16 {
	margin-bottom: var(--space-16);
}
.mb-17 {
	margin-bottom: var(--space-17);
}
.mb-18 {
	margin-bottom: var(--space-18);
}
.mb-19 {
	margin-bottom: var(--space-19);
}
.mb-20 {
	margin-bottom: var(--space-20);
}

.mb-1px {
	margin-bottom: var(--space-1px);
}
.mb-2px {
	margin-bottom: var(--space-2px);
}
.mb-3px {
	margin-bottom: var(--space-3px);
}
.mb-4px {
	margin-bottom: var(--space-4px);
}
.mb-5px {
	margin-bottom: var(--space-5px);
}
.mb-6px {
	margin-bottom: var(--space-6px);
}
.mb-7px {
	margin-bottom: var(--space-7px);
}
.mb-8px {
	margin-bottom: var(--space-8px);
}
.mb-9px {
	margin-bottom: var(--space-9px);
}
.mb-10px {
	margin-bottom: var(--space-10px);
}

.ml-0 {
	margin-left: 0;
}
.ml-1 {
	margin-left: var(--space-1);
}
.ml-2 {
	margin-left: var(--space-2);
}
.ml-3 {
	margin-left: var(--space-3);
}
.ml-4 {
	margin-left: var(--space-4);
}
.ml-5 {
	margin-left: var(--space-5);
}
.ml-6 {
	margin-left: var(--space-6);
}
.ml-7 {
	margin-left: var(--space-7);
}
.ml-8 {
	margin-left: var(--space-8);
}
.ml-9 {
	margin-left: var(--space-9);
}
.ml-10 {
	margin-left: var(--space-10);
}
.ml-11 {
	margin-left: var(--space-11);
}
.ml-12 {
	margin-left: var(--space-12);
}
.ml-13 {
	margin-left: var(--space-13);
}
.ml-14 {
	margin-left: var(--space-14);
}
.ml-15 {
	margin-left: var(--space-15);
}
.ml-16 {
	margin-left: var(--space-16);
}
.ml-17 {
	margin-left: var(--space-17);
}
.ml-18 {
	margin-left: var(--space-18);
}
.ml-19 {
	margin-left: var(--space-19);
}
.ml-20 {
	margin-left: var(--space-20);
}

.ml-1px {
	margin-left: var(--space-1px);
}
.ml-2px {
	margin-left: var(--space-2px);
}
.ml-3px {
	margin-left: var(--space-3px);
}
.ml-4px {
	margin-left: var(--space-4px);
}
.ml-5px {
	margin-left: var(--space-5px);
}
.ml-6px {
	margin-left: var(--space-6px);
}
.ml-7px {
	margin-left: var(--space-7px);
}
.ml-8px {
	margin-left: var(--space-8px);
}
.ml-9px {
	margin-left: var(--space-9px);
}
.ml-10px {
	margin-left: var(--space-10px);
}

.mr-0 {
	margin-right: 0;
}
.mr-1 {
	margin-right: var(--space-1);
}
.mr-2 {
	margin-right: var(--space-2);
}
.mr-3 {
	margin-right: var(--space-3);
}
.mr-4 {
	margin-right: var(--space-4);
}
.mr-5 {
	margin-right: var(--space-5);
}
.mr-6 {
	margin-right: var(--space-6);
}
.mr-7 {
	margin-right: var(--space-7);
}
.mr-8 {
	margin-right: var(--space-8);
}
.mr-9 {
	margin-right: var(--space-9);
}
.mr-10 {
	margin-right: var(--space-10);
}
.mr-11 {
	margin-right: var(--space-11);
}
.mr-12 {
	margin-right: var(--space-12);
}
.mr-13 {
	margin-right: var(--space-13);
}
.mr-14 {
	margin-right: var(--space-14);
}
.mr-15 {
	margin-right: var(--space-15);
}
.mr-16 {
	margin-right: var(--space-16);
}
.mr-17 {
	margin-right: var(--space-17);
}
.mr-18 {
	margin-right: var(--space-18);
}
.mr-19 {
	margin-right: var(--space-19);
}
.mr-20 {
	margin-right: var(--space-20);
}

.mr-1px {
	margin-right: var(--space-1px);
}
.mr-2px {
	margin-right: var(--space-2px);
}
.mr-3px {
	margin-right: var(--space-3px);
}
.mr-4px {
	margin-right: var(--space-4px);
}
.mr-5px {
	margin-right: var(--space-5px);
}
.mr-6px {
	margin-right: var(--space-6px);
}
.mr-7px {
	margin-right: var(--space-7px);
}
.mr-8px {
	margin-right: var(--space-8px);
}
.mr-9px {
	margin-right: var(--space-9px);
}
.mr-10px {
	margin-right: var(--space-10px);
}

@media (min-width: 40em) {
	.md-m-auto {
		margin: auto;
	}
	.m-0 {
		margin: 0;
	}
	.md-m-1 {
		margin: var(--space-1);
	}
	.md-m-2 {
		margin: var(--space-2);
	}
	.md-m-3 {
		margin: var(--space-3);
	}
	.md-m-4 {
		margin: var(--space-4);
	}
	.md-m-5 {
		margin: var(--space-5);
	}
	.md-m-6 {
		margin: var(--space-6);
	}
	.md-m-7 {
		margin: var(--space-7);
	}
	.md-m-8 {
		margin: var(--space-8);
	}
	.md-m-9 {
		margin: var(--space-9);
	}
	.md-m-10 {
		margin: var(--space-10);
	}
	.md-m-11 {
		margin: var(--space-11);
	}
	.md-m-12 {
		margin: var(--space-12);
	}
	.md-m-13 {
		margin: var(--space-13);
	}
	.md-m-14 {
		margin: var(--space-14);
	}
	.md-m-15 {
		margin: var(--space-15);
	}
	.md-m-16 {
		margin: var(--space-16);
	}
	.md-m-17 {
		margin: var(--space-17);
	}
	.md-m-18 {
		margin: var(--space-18);
	}
	.md-m-19 {
		margin: var(--space-19);
	}
	.md-m-20 {
		margin: var(--space-20);
	}

	.md-mx-0 {
		margin-left: 0;
		margin-right: 0;
	}
	.md-mx-1 {
		margin-left: var(--space-1);
		margin-right: var(--space-1);
	}
	.md-mx-2 {
		margin-left: var(--space-2);
		margin-right: var(--space-2);
	}
	.md-mx-3 {
		margin-left: var(--space-3);
		margin-right: var(--space-3);
	}
	.md-mx-4 {
		margin-left: var(--space-4);
		margin-right: var(--space-4);
	}
	.md-mx-5 {
		margin-left: var(--space-5);
		margin-right: var(--space-5);
	}
	.md-mx-6 {
		margin-left: var(--space-6);
		margin-right: var(--space-6);
	}
	.md-mx-7 {
		margin-left: var(--space-7);
		margin-right: var(--space-7);
	}
	.md-mx-8 {
		margin-left: var(--space-8);
		margin-right: var(--space-8);
	}
	.md-mx-9 {
		margin-left: var(--space-9);
		margin-right: var(--space-9);
	}
	.md-mx-10 {
		margin-left: var(--space-10);
		margin-right: var(--space-10);
	}
	.md-mx-11 {
		margin-left: var(--space-11);
		margin-right: var(--space-11);
	}
	.md-mx-12 {
		margin-left: var(--space-12);
		margin-right: var(--space-12);
	}
	.md-mx-13 {
		margin-left: var(--space-13);
		margin-right: var(--space-13);
	}
	.md-mx-14 {
		margin-left: var(--space-14);
		margin-right: var(--space-14);
	}
	.md-mx-15 {
		margin-left: var(--space-15);
		margin-right: var(--space-15);
	}
	.md-mx-16 {
		margin-left: var(--space-16);
		margin-right: var(--space-16);
	}
	.md-mx-17 {
		margin-left: var(--space-17);
		margin-right: var(--space-17);
	}
	.md-mx-18 {
		margin-left: var(--space-18);
		margin-right: var(--space-18);
	}
	.md-mx-19 {
		margin-left: var(--space-19);
		margin-right: var(--space-19);
	}
	.md-mx-20 {
		margin-left: var(--space-20);
		margin-right: var(--space-20);
	}

	.md-mx-auto {
		margin-left: auto;
		margin-right: auto;
	}
	.md-mx-auto-center {
		margin: 0 auto;
	}
	.md-my-0 {
		margin-top: 0;
		margin-bottom: 0;
	}
	.md-my-1 {
		margin-top: var(--space-1);
		margin-bottom: var(--space-1);
	}
	.md-my-2 {
		margin-top: var(--space-2);
		margin-bottom: var(--space-2);
	}
	.md-my-3 {
		margin-top: var(--space-3);
		margin-bottom: var(--space-3);
	}
	.md-my-4 {
		margin-top: var(--space-4);
		margin-bottom: var(--space-4);
	}
	.md-my-5 {
		margin-top: var(--space-5);
		margin-bottom: var(--space-5);
	}
	.md-my-6 {
		margin-top: var(--space-6);
		margin-bottom: var(--space-6);
	}
	.md-my-7 {
		margin-top: var(--space-7);
		margin-bottom: var(--space-7);
	}
	.md-my-8 {
		margin-top: var(--space-8);
		margin-bottom: var(--space-8);
	}
	.md-my-9 {
		margin-top: var(--space-9);
		margin-bottom: var(--space-9);
	}
	.md-my-10 {
		margin-top: var(--space-10);
		margin-bottom: var(--space-10);
	}
	.md-my-11 {
		margin-top: var(--space-11);
		margin-bottom: var(--space-11);
	}
	.md-my-12 {
		margin-top: var(--space-12);
		margin-bottom: var(--space-12);
	}
	.md-my-13 {
		margin-top: var(--space-13);
		margin-bottom: var(--space-13);
	}
	.md-my-14 {
		margin-top: var(--space-14);
		margin-bottom: var(--space-14);
	}
	.md-my-15 {
		margin-top: var(--space-15);
		margin-bottom: var(--space-15);
	}
	.md-my-16 {
		margin-top: var(--space-16);
		margin-bottom: var(--space-16);
	}
	.md-my-17 {
		margin-top: var(--space-17);
		margin-bottom: var(--space-17);
	}
	.md-my-18 {
		margin-top: var(--space-18);
		margin-bottom: var(--space-18);
	}
	.md-my-19 {
		margin-top: var(--space-19);
		margin-bottom: var(--space-19);
	}
	.md-my-20 {
		margin-top: var(--space-20);
		margin-bottom: var(--space-20);
	}

	.md-my-auto {
		margin-top: auto;
		margin-bottom: auto;
	}

	.md-mt-0 {
		margin-top: 0;
	}
	.md-mt-1 {
		margin-top: var(--space-1);
	}
	.md-mt-2 {
		margin-top: var(--space-2);
	}
	.md-mt-3 {
		margin-top: var(--space-3);
	}
	.md-mt-4 {
		margin-top: var(--space-4);
	}
	.md-mt-5 {
		margin-top: var(--space-5);
	}
	.md-mt-6 {
		margin-top: var(--space-6);
	}
	.md-mt-7 {
		margin-top: var(--space-7);
	}
	.md-mt-8 {
		margin-top: var(--space-8);
	}
	.md-mt-9 {
		margin-top: var(--space-9);
	}
	.md-mt-10 {
		margin-top: var(--space-10);
	}
	.md-mt-11 {
		margin-top: var(--space-11);
	}
	.md-mt-12 {
		margin-top: var(--space-12);
	}
	.md-mt-13 {
		margin-top: var(--space-13);
	}
	.md-mt-14 {
		margin-top: var(--space-14);
	}
	.md-mt-15 {
		margin-top: var(--space-15);
	}
	.md-mt-16 {
		margin-top: var(--space-16);
	}
	.md-mt-17 {
		margin-top: var(--space-17);
	}
	.md-mt-18 {
		margin-top: var(--space-18);
	}
	.md-mt-19 {
		margin-top: var(--space-19);
	}
	.md-mt-20 {
		margin-top: var(--space-20);
	}

	.md-mb-0 {
		margin-bottom: 0;
	}
	.md-mb-1 {
		margin-bottom: var(--space-1);
	}
	.md-mb-2 {
		margin-bottom: var(--space-2);
	}
	.md-mb-3 {
		margin-bottom: var(--space-3);
	}
	.md-mb-4 {
		margin-bottom: var(--space-4);
	}
	.md-mb-5 {
		margin-bottom: var(--space-5);
	}
	.md-mb-6 {
		margin-bottom: var(--space-6);
	}
	.md-mb-7 {
		margin-bottom: var(--space-7);
	}
	.md-mb-8 {
		margin-bottom: var(--space-8);
	}
	.md-mb-9 {
		margin-bottom: var(--space-9);
	}
	.md-mb-10 {
		margin-bottom: var(--space-10);
	}
	.md-mb-11 {
		margin-bottom: var(--space-11);
	}
	.md-mb-12 {
		margin-bottom: var(--space-12);
	}
	.md-mb-13 {
		margin-bottom: var(--space-13);
	}
	.md-mb-14 {
		margin-bottom: var(--space-14);
	}
	.md-mb-15 {
		margin-bottom: var(--space-15);
	}
	.md-mb-16 {
		margin-bottom: var(--space-16);
	}
	.md-mb-17 {
		margin-bottom: var(--space-17);
	}
	.md-mb-18 {
		margin-bottom: var(--space-18);
	}
	.md-mb-19 {
		margin-bottom: var(--space-19);
	}
	.md-mb-20 {
		margin-bottom: var(--space-20);
	}

	.md-ml-0 {
		margin-left: 0;
	}
	.md-ml-1 {
		margin-left: var(--space-1);
	}
	.md-ml-2 {
		margin-left: var(--space-2);
	}
	.md-ml-3 {
		margin-left: var(--space-3);
	}
	.md-ml-4 {
		margin-left: var(--space-4);
	}
	.md-ml-5 {
		margin-left: var(--space-5);
	}
	.md-ml-6 {
		margin-left: var(--space-6);
	}
	.md-ml-7 {
		margin-left: var(--space-7);
	}
	.md-ml-8 {
		margin-left: var(--space-8);
	}
	.md-ml-9 {
		margin-left: var(--space-9);
	}
	.md-ml-10 {
		margin-left: var(--space-10);
	}
	.md-ml-11 {
		margin-left: var(--space-11);
	}
	.md-ml-12 {
		margin-left: var(--space-12);
	}
	.md-ml-13 {
		margin-left: var(--space-13);
	}
	.md-ml-14 {
		margin-left: var(--space-14);
	}
	.md-ml-15 {
		margin-left: var(--space-15);
	}
	.md-ml-16 {
		margin-left: var(--space-16);
	}
	.md-ml-17 {
		margin-left: var(--space-17);
	}
	.md-ml-18 {
		margin-left: var(--space-18);
	}
	.md-ml-19 {
		margin-left: var(--space-19);
	}
	.md-ml-20 {
		margin-left: var(--space-20);
	}

	.md-mr-0 {
		margin-right: 0;
	}
	.md-mr-1 {
		margin-right: var(--space-1);
	}
	.md-mr-2 {
		margin-right: var(--space-2);
	}
	.md-mr-3 {
		margin-right: var(--space-3);
	}
	.md-mr-4 {
		margin-right: var(--space-4);
	}
	.md-mr-5 {
		margin-right: var(--space-5);
	}
	.md-mr-6 {
		margin-right: var(--space-6);
	}
	.md-mr-7 {
		margin-right: var(--space-7);
	}
	.md-mr-8 {
		margin-right: var(--space-8);
	}
	.md-mr-9 {
		margin-right: var(--space-9);
	}
	.md-mr-10 {
		margin-right: var(--space-10);
	}
	.md-mr-11 {
		margin-right: var(--space-11);
	}
	.md-mr-12 {
		margin-right: var(--space-12);
	}
	.md-mr-13 {
		margin-right: var(--space-13);
	}
	.md-mr-14 {
		margin-right: var(--space-14);
	}
	.md-mr-15 {
		margin-right: var(--space-15);
	}
	.md-mr-16 {
		margin-right: var(--space-16);
	}
	.md-mr-17 {
		margin-right: var(--space-17);
	}
	.md-mr-18 {
		margin-right: var(--space-18);
	}
	.md-mr-19 {
		margin-right: var(--space-19);
	}
	.md-mr-20 {
		margin-right: var(--space-20);
	}
}

@media (min-width: 64em) {
	.lg-m-auto {
		margin: auto;
	}
	.lg-m-0 {
		margin: 0;
	}
	.lg-m-1 {
		margin: var(--space-1);
	}
	.lg-m-2 {
		margin: var(--space-2);
	}
	.lg-m-3 {
		margin: var(--space-3);
	}
	.lg-m-4 {
		margin: var(--space-4);
	}
	.lg-m-5 {
		margin: var(--space-5);
	}
	.lg-m-6 {
		margin: var(--space-6);
	}
	.lg-m-7 {
		margin: var(--space-7);
	}
	.lg-m-8 {
		margin: var(--space-8);
	}
	.lg-m-9 {
		margin: var(--space-9);
	}
	.lg-m-10 {
		margin: var(--space-10);
	}
	.lg-m-11 {
		margin: var(--space-11);
	}
	.lg-m-12 {
		margin: var(--space-12);
	}
	.lg-m-13 {
		margin: var(--space-13);
	}
	.lg-m-14 {
		margin: var(--space-14);
	}
	.lg-m-15 {
		margin: var(--space-15);
	}
	.lg-m-16 {
		margin: var(--space-16);
	}
	.lg-m-17 {
		margin: var(--space-17);
	}
	.lg-m-18 {
		margin: var(--space-18);
	}
	.lg-m-19 {
		margin: var(--space-19);
	}
	.lg-m-20 {
		margin: var(--space-20);
	}

	.lg-mx-0 {
		margin-left: 0;
		margin-right: 0;
	}
	.lg-mx-1 {
		margin-left: var(--space-1);
		margin-right: var(--space-1);
	}
	.lg-mx-2 {
		margin-left: var(--space-2);
		margin-right: var(--space-2);
	}
	.lg-mx-3 {
		margin-left: var(--space-3);
		margin-right: var(--space-3);
	}
	.lg-mx-4 {
		margin-left: var(--space-4);
		margin-right: var(--space-4);
	}
	.lg-mx-5 {
		margin-left: var(--space-5);
		margin-right: var(--space-5);
	}
	.lg-mx-6 {
		margin-left: var(--space-6);
		margin-right: var(--space-6);
	}
	.lg-mx-7 {
		margin-left: var(--space-7);
		margin-right: var(--space-7);
	}
	.lg-mx-8 {
		margin-left: var(--space-8);
		margin-right: var(--space-8);
	}
	.lg-mx-9 {
		margin-left: var(--space-9);
		margin-right: var(--space-9);
	}
	.lg-mx-10 {
		margin-left: var(--space-10);
		margin-right: var(--space-10);
	}
	.lg-mx-11 {
		margin-left: var(--space-11);
		margin-right: var(--space-11);
	}
	.lg-mx-12 {
		margin-left: var(--space-12);
		margin-right: var(--space-12);
	}
	.lg-mx-13 {
		margin-left: var(--space-13);
		margin-right: var(--space-13);
	}
	.lg-mx-14 {
		margin-left: var(--space-14);
		margin-right: var(--space-14);
	}
	.lg-mx-15 {
		margin-left: var(--space-15);
		margin-right: var(--space-15);
	}
	.lg-mx-16 {
		margin-left: var(--space-16);
		margin-right: var(--space-16);
	}
	.lg-mx-17 {
		margin-left: var(--space-17);
		margin-right: var(--space-17);
	}
	.lg-mx-18 {
		margin-left: var(--space-18);
		margin-right: var(--space-18);
	}
	.lg-mx-19 {
		margin-left: var(--space-19);
		margin-right: var(--space-19);
	}
	.lg-mx-20 {
		margin-left: var(--space-20);
		margin-right: var(--space-20);
	}

	.lg-mx-auto {
		margin-left: auto;
		margin-right: auto;
	}
	.lg-mx-auto-center {
		margin: 0 auto;
	}
	.lg-my-0 {
		margin-top: 0;
		margin-bottom: 0;
	}
	.lg-my-1 {
		margin-top: var(--space-1);
		margin-bottom: var(--space-1);
	}
	.lg-my-2 {
		margin-top: var(--space-2);
		margin-bottom: var(--space-2);
	}
	.lg-my-3 {
		margin-top: var(--space-3);
		margin-bottom: var(--space-3);
	}
	.lg-my-4 {
		margin-top: var(--space-4);
		margin-bottom: var(--space-4);
	}
	.lg-my-5 {
		margin-top: var(--space-5);
		margin-bottom: var(--space-5);
	}
	.lg-my-6 {
		margin-top: var(--space-6);
		margin-bottom: var(--space-6);
	}
	.lg-my-7 {
		margin-top: var(--space-7);
		margin-bottom: var(--space-7);
	}
	.lg-my-8 {
		margin-top: var(--space-8);
		margin-bottom: var(--space-8);
	}
	.lg-my-9 {
		margin-top: var(--space-9);
		margin-bottom: var(--space-9);
	}
	.lg-my-10 {
		margin-top: var(--space-10);
		margin-bottom: var(--space-10);
	}
	.lg-my-11 {
		margin-top: var(--space-11);
		margin-bottom: var(--space-11);
	}
	.lg-my-12 {
		margin-top: var(--space-12);
		margin-bottom: var(--space-12);
	}
	.lg-my-13 {
		margin-top: var(--space-13);
		margin-bottom: var(--space-13);
	}
	.lg-my-14 {
		margin-top: var(--space-14);
		margin-bottom: var(--space-14);
	}
	.lg-my-15 {
		margin-top: var(--space-15);
		margin-bottom: var(--space-15);
	}
	.lg-my-16 {
		margin-top: var(--space-16);
		margin-bottom: var(--space-16);
	}
	.lg-my-17 {
		margin-top: var(--space-17);
		margin-bottom: var(--space-17);
	}
	.lg-my-18 {
		margin-top: var(--space-18);
		margin-bottom: var(--space-18);
	}
	.lg-my-19 {
		margin-top: var(--space-19);
		margin-bottom: var(--space-19);
	}
	.lg-my-20 {
		margin-top: var(--space-20);
		margin-bottom: var(--space-20);
	}

	.lg-my-auto {
		margin-top: auto;
		margin-bottom: auto;
	}
	.lg-mt-0 {
		margin-top: 0;
	}
	.lg-mt-1 {
		margin-top: var(--space-1);
	}
	.lg-mt-2 {
		margin-top: var(--space-2);
	}
	.lg-mt-3 {
		margin-top: var(--space-3);
	}
	.lg-mt-4 {
		margin-top: var(--space-4);
	}
	.lg-mt-5 {
		margin-top: var(--space-5);
	}
	.lg-mt-6 {
		margin-top: var(--space-6);
	}
	.lg-mt-7 {
		margin-top: var(--space-7);
	}
	.lg-mt-8 {
		margin-top: var(--space-8);
	}
	.lg-mt-9 {
		margin-top: var(--space-9);
	}
	.lg-mt-10 {
		margin-top: var(--space-10);
	}
	.lg-mt-11 {
		margin-top: var(--space-11);
	}
	.lg-mt-12 {
		margin-top: var(--space-12);
	}
	.lg-mt-13 {
		margin-top: var(--space-13);
	}
	.lg-mt-14 {
		margin-top: var(--space-14);
	}
	.lg-mt-15 {
		margin-top: var(--space-15);
	}
	.lg-mt-16 {
		margin-top: var(--space-16);
	}
	.lg-mt-17 {
		margin-top: var(--space-17);
	}
	.lg-mt-18 {
		margin-top: var(--space-18);
	}
	.lg-mt-19 {
		margin-top: var(--space-19);
	}
	.lg-mt-20 {
		margin-top: var(--space-20);
	}

	.lg-mb-0 {
		margin-bottom: 0;
	}
	.lg-mb-1 {
		margin-bottom: var(--space-1);
	}
	.lg-mb-2 {
		margin-bottom: var(--space-2);
	}
	.lg-mb-3 {
		margin-bottom: var(--space-3);
	}
	.lg-mb-4 {
		margin-bottom: var(--space-4);
	}
	.lg-mb-5 {
		margin-bottom: var(--space-5);
	}
	.lg-mb-6 {
		margin-bottom: var(--space-6);
	}
	.lg-mb-7 {
		margin-bottom: var(--space-7);
	}
	.lg-mb-8 {
		margin-bottom: var(--space-8);
	}
	.lg-mb-9 {
		margin-bottom: var(--space-9);
	}
	.lg-mb-10 {
		margin-bottom: var(--space-10);
	}
	.lg-mb-11 {
		margin-bottom: var(--space-11);
	}
	.lg-mb-12 {
		margin-bottom: var(--space-12);
	}
	.lg-mb-13 {
		margin-bottom: var(--space-13);
	}
	.lg-mb-14 {
		margin-bottom: var(--space-14);
	}
	.lg-mb-15 {
		margin-bottom: var(--space-15);
	}
	.lg-mb-16 {
		margin-bottom: var(--space-16);
	}
	.lg-mb-17 {
		margin-bottom: var(--space-17);
	}
	.lg-mb-18 {
		margin-bottom: var(--space-18);
	}
	.lg-mb-19 {
		margin-bottom: var(--space-19);
	}
	.lg-mb-20 {
		margin-bottom: var(--space-20);
	}

	.lg-ml-0 {
		margin-left: 0;
	}
	.lg-ml-1 {
		margin-left: var(--space-1);
	}
	.lg-ml-2 {
		margin-left: var(--space-2);
	}
	.lg-ml-3 {
		margin-left: var(--space-3);
	}
	.lg-ml-4 {
		margin-left: var(--space-4);
	}
	.lg-ml-5 {
		margin-left: var(--space-5);
	}
	.lg-ml-6 {
		margin-left: var(--space-6);
	}
	.lg-ml-7 {
		margin-left: var(--space-7);
	}
	.lg-ml-8 {
		margin-left: var(--space-8);
	}
	.lg-ml-9 {
		margin-left: var(--space-9);
	}
	.lg-ml-10 {
		margin-left: var(--space-10);
	}
	.lg-ml-11 {
		margin-left: var(--space-11);
	}
	.lg-ml-12 {
		margin-left: var(--space-12);
	}
	.lg-ml-13 {
		margin-left: var(--space-13);
	}
	.lg-ml-14 {
		margin-left: var(--space-14);
	}
	.lg-ml-15 {
		margin-left: var(--space-15);
	}
	.lg-ml-16 {
		margin-left: var(--space-16);
	}
	.lg-ml-17 {
		margin-left: var(--space-17);
	}
	.lg-ml-18 {
		margin-left: var(--space-18);
	}
	.lg-ml-19 {
		margin-left: var(--space-19);
	}
	.lg-ml-20 {
		margin-left: var(--space-20);
	}

	.lg-mr-0 {
		margin-right: 0;
	}
	.lg-mr-1 {
		margin-right: var(--space-1);
	}
	.lg-mr-2 {
		margin-right: var(--space-2);
	}
	.lg-mr-3 {
		margin-right: var(--space-3);
	}
	.lg-mr-4 {
		margin-right: var(--space-4);
	}
	.lg-mr-5 {
		margin-right: var(--space-5);
	}
	.lg-mr-6 {
		margin-right: var(--space-6);
	}
	.lg-mr-7 {
		margin-right: var(--space-7);
	}
	.lg-mr-8 {
		margin-right: var(--space-8);
	}
	.lg-mr-9 {
		margin-right: var(--space-9);
	}
	.lg-mr-10 {
		margin-right: var(--space-10);
	}
	.lg-mr-11 {
		margin-right: var(--space-11);
	}
	.lg-mr-12 {
		margin-right: var(--space-12);
	}
	.lg-mr-13 {
		margin-right: var(--space-13);
	}
	.lg-mr-14 {
		margin-right: var(--space-14);
	}
	.lg-mr-15 {
		margin-right: var(--space-15);
	}
	.lg-mr-16 {
		margin-right: var(--space-16);
	}
	.lg-mr-17 {
		margin-right: var(--space-17);
	}
	.lg-mr-18 {
		margin-right: var(--space-18);
	}
	.lg-mr-19 {
		margin-right: var(--space-19);
	}
	.lg-mr-20 {
		margin-right: var(--space-20);
	}
}
