/* pointer events */
.pointer-events-none {
	pointer-events: none;
}
.pointer-events-auto {
	pointer-events: auto;
}

/* cursors */
.cursor-pointer {
	cursor: pointer;
}
.cursor-grab {
	cursor: grab;
}

/* fullwidth */
.fullwidth {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}

