.of-cover {
    --of: cover;
    object-fit: var(--of);
}
.of-contain {
    --of: contain;
    object-fit: var(--of);
}
.of-scale-down {
    --of: scale-down;
    object-fit: var(--of);
}
.of-fill {
    --of: fill;
    object-fit: var(--of);
}
.of-none {
    --of: none;
    object-fit: var(--of);
}