.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.fixed {
	position: fixed;
}
.static {
	position: static;
}
.sticky {
	position: sticky;
}
.absolute-children {
	position: relative;
}
.absolute-children > * {
	position: absolute;
}
