:root {
	--title-1: 5rem; /* 80px */
	--title-2: 4rem; /* 64px */
	--title-3: 3rem; /* 48px */
	--title-4: 2.5rem; /* 40px */
	--title-5: 2rem; /* 32px */
	--title-6: 1.5rem; /* 24px */
	--title-7: 1.25rem; /* 20px */
	--copy: 1.125rem; /* 18px */
	--body: 1rem; /* 16px */
	--label: 0.875rem; /* 14px */
	--caption: 0.75rem; /* 12px */
	--overline-big: 0.6875rem; /* 11px */
	--small: 0.625rem; /* 10px */
	--overline-small: 0.5625rem; /* 9px  */

	--quote: var(--title-4);

	--title-1-display: var(--title-2);
	--title-2-display: var(--title-3);
	--title-3-display: var(--title-4);
	--title-4-display: var(--title-5);
	--tilte-5-display: var(--title-6);
	--title-6-display: var(--title-7);

	/* font weight*/
	--fw100: 100;
	--fw200: 200;
	--fw300: 300;
	--fw400: 400;
	--fw500: 500;
	--fw600: 600;
	--fw700: 700;
	--fw800: 800;
	--fw900: 900;

	--thin: var(--fw100);
	--extra-light: var(--fw200);
	--light: var(--fw300);
	--regular: var(--fw400);
	--medium: var(--fw500);
	--semi-bold: var(--fw600);
	--bold: var(--fw700);
	--extra-bold: var(--fw800);
	--black-bold: var(--fw900);

	/* font family */
	--inter: "Inter", sans-serif;
	--noto-serif: "Noto Serif", serif;

	/*line-height  */
	--line-height: 1.3; /* default */

	/* letter spacing */
	--letter-spacing: ; /* empty    */
	--letter-spacing-1: -0.0078125rem; /* -0.25px 	*/
	--letter-spacing-2: -0.015625rem; /* -0.5px 	*/
	--letter-spacing-3: -0.03125rem; /* -0.75px 	*/
	--letter-spacing-4: -0.0625rem; /* -1px 		*/
	--letter-spacing-5: -0.078125rem; /* -1.25px 	*/
	--letter-spacing-6: -0.09375rem; /* -1.5px 	*/
	--letter-spacing-7: -0.125rem; /* -2px 		*/
}

/* Fonts */
@font-face {
	font-family: "Inter";
	src: url("https://new-cdn.mamamia.com.au/mamamia-courses-backend.appspot.com/static/fonts/inter-var.woff2")
			format("woff2 supports variations"),
		url("https://new-cdn.mamamia.com.au/mamamia-courses-backend.appspot.com/static/fonts/inter-var.woff2")
			format("woff2-variations");
	font-weight: 400 900;
	font-display: swap;
}

@font-face {
	font-family: "Noto Serif TC", serif;
	src: url("https://new-cdn.mamamia.com.au/mamamia-courses-backend.appspot.com/static/fonts/notoseriftc-regular.woff2")
			format("woff2"),
		url("https://new-cdn.mamamia.com.au/mamamia-courses-backend.appspot.com/static/fonts/notoseriftc-regular.woff")
			format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Noto Serif TC", serif;
	src: url("https://new-cdn.mamamia.com.au/mamamia-courses-backend.appspot.com/static/fonts/notoseriftc-bold.woff2")
			format("woff2"),
		url("https://new-cdn.mamamia.com.au/mamamia-courses-backend.appspot.com/static/fonts/notoseriftc-bold.woff")
			format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Noto Serif TC", serif;
	src: url("https://new-cdn.mamamia.com.au/mamamia-courses-backend.appspot.com/static/fonts/notoseriftc-black.woff2")
			format("woff2"),
		url("https://new-cdn.mamamia.com.au/mamamia-courses-backend.appspot.com/static/fonts/notoseriftc-black.woff")
			format("woff");
	font-weight: black;
	font-style: normal;
	font-display: swap;
}

/* font-family */
.inter {
	font-family: var(--inter);
}
.noto-serif {
	font-family: var(--noto-serif);
}
.font-inherit {
	font-family: inherit;
}

/* font-size */
.h1,
.title-1 {
	--line-height: 1.1;
	--letter-spacing: var(--letter-spacing-7);
	font-size: var(--title-1);
	line-height: var(--line-height);
	letter-spacing: var(--letter-spacing);
}
.h2,
.title-2,
.title-display-1 {
	--line-height: 1.28;
	--letter-spacing: var(--letter-spacing-7);
	font-size: var(--title-2);
	line-height: var(--line-height);
	letter-spacing: var(--letter-spacing);
}
.h3,
.title-3,
.title-display-2 {
	--line-height: 1.16;
	--letter-spacing: var(--letter-spacing-6);
	font-size: var(--title-3);
	line-height: var(--line-height);
	letter-spacing: var(--letter-spacing);
}
.h4,
.title-4,
.title-display-3,
.quote {
	--line-height: 1.2;
	--letter-spacing: var(--letter-spacing-5);
	font-size: var(--title-4);
	line-height: var(--line-height);
	letter-spacing: var(--letter-spacing);
}
.h5,
.title-5,
.title-display-4 {
	--line-height: 1.25;
	--letter-spacing: var(--letter-spacing-4);
	font-size: var(--title-5);
	line-height: var(--line-height);
	letter-spacing: var(--letter-spacing);
}
.h6,
.title-6,
.title-display-5 {
	--letter-spacing: var(--letter-spacing-3);
	font-size: var(--title-6);
	line-height: var(--line-height);
	letter-spacing: var(--letter-spacing);
}
.fs-lg,
.title-7,
.title-display-6 {
	--line-height: 1.6;
	--letter-spacing: var(--letter-spacing-2);
	font-size: var(--title-7);
	line-height: var(--line-height);
	letter-spacing: var(--letter-spacing);
}
.fs-md,
.copy {
	--letter-spacing: var(--letter-spacing-1);
	font-size: var(--copy);
	line-height: var(--line-height);
	letter-spacing: var(--letter-spacing);
}
.fs-normal,
.body {
	--line-height: 1.5;
	font-size: var(--body);
	line-height: var(--line-height);
}
.fs-sm,
.label {
	--line-height: 1.71;
	font-size: var(--label);
	line-height: var(--line-height);
}
.fs-xs,
.caption {
	font-size: var(--caption);
	line-height: var(--line-height);
}
.fs-2xs,
.small {
	--line-height: 1.2;
	font-size: var(--small);
	line-height: var(--line-height);
}
.fs-3xs,
.overline-big {
	--line-height: 1.09;
	--letter-spacing: 0.125rem;
	font-size: var(--overline-big);
	line-height: var(--line-height);
	letter-spacing: var(--letter-spacing);
}
.fs-4xs,
.overline-small {
	font-size: var(--overline-small);
	line-height: var(--line-height);
}

.fs-scale {
	--root-fs: 16;
	--fs-min: 1rem;
	--fs-max: 2rem;
	--mq1: 320;
	--mq2: 800;
	--min-width: calc(var(--mq1) / var(--root-fs));
	--max-width: calc(var(--mq2) / var(--root-fs));
	--slope: calc(
		(var(--max-fs) - var(--min-fs)) / (var(--max-width) - var(--min-width))
	);
	--y-intersect: calc(
		(calc(var(--min-width) * -1) * var(--slope) + var(--min-fs))
	);
	--slope-vw: calc(var(--slope) * 100vw);
	--preferred-val: calc(calc(var(--y-intersect) * 1rem) + var(--slope-vw));
	--clamp-fs: clamp(
		calc(var(--min-fs) * 1rem),
		var(--preferred-val),
		calc(var(--max-fs) * 1rem)
	);
}

.fs-inherit {
	font-size: inherit;
}

/* font weight*/
.fw-100,
.thin {
	font-weight: var(--thin);
}
.fw-200,
.extra-light {
	font-weight: var(--extra-light);
}
.fw-300,
.light {
	font-weight: var(--light);
}
.fw-400,
.regular {
	font-weight: var(--regular);
}
.fw-500,
.medium {
	font-weight: var(--medium);
}
.fw-600,
.bold {
	font-weight: var(--bold);
}
.fw-700,
.semi-bold {
	font-weight: var(--semi-bold);
}
.fw-800,
.extra-bold {
	font-weight: var(--extra-bold);
}
.fw-900,
.black-bold {
	font-weight: var(--black-bold);
}
.italic {
	font-style: italic;
}
.text-center {
	text-align: center;
}
.text-start {
	text-align: start;
}
.text-end {
	text-align: end;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.underline {
	text-decoration: underline;
}
.no-underline {
	text-decoration: none;
}
.uppercase {
	text-transform: uppercase;
}
.lowercase {
	text-transform: lowercase;
}
.capitalize {
	text-transform: capitalize;
}
.nowrap {
	white-space: nowrap;
}
